:root {
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Karla", sans-serif;
  --highlight-color: rgb(244, 151, 142);
  --secondary-color: #778da9;
  --background-color: #0d1b2a;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.header-container {
  background-color: var(--background-color);
  text-align: center;
}

.header-content {
  padding: 80px 0px;
}

.header-container h3 {
  color: var(--secondary-color);
  font-family: var(--font-body);
  font-size: 36px;
  margin: 30px 0;
}

.header-container h1 {
  color: var(--highlight-color);
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.header-subheading {
  margin: 30px 0;
}

.header-container h2 {
  color: var(--secondary-color);
  font-family: var(--font-body);
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

.text-box {
  padding: 60px 30px;
}

.btn {
  color: #0d1b2a;
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
}

.btn.btn-branding {
  background-color: var(--background-color);
  border-radius: 4px;
  color: var(--highlight-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  padding: 15px 30px;
  outline: 2px solid var(--highlight-color);
}

.btn.btn-branding:hover {
  background-color: var(--highlight-color);
  transition: all 0.3s ease-in-out;
}

.projects {
  padding: 30px 0px;
}

.projects h2 {
  color: var(--background-color);
  font-size: 64px;
}

.projects h3 {
  font-size: 36px;
  font-weight: 700;
  padding: 30px 0;
}

.btn.btn-branding-outline {
  border-radius: 4px;
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
  outline: 2px solid var(--background-color);
  padding: 15px 30px;
}

.btn.btn-branding-outline:hover {
  background-color: var(--highlight-color);
  color: var(--background-color);
  transition: all 0.3s ease-in-out;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.background-banner {
  background-color: var(--background-color);
  margin: 0;
}
.about-section {
  text-align: left;
  padding: 160px;
}

.about-text-box {
  margin: 30px;
}

.about-section h1 {
  color: var(--highlight-color);
  font-size: 64px;
  font-weight: 700;
}

.about-section h2 {
  color: var(--secondary-color);
  font-size: 24px;
}
.about-section p {
  color: var(--secondary-color);
}

.content-container {
  text-align: left;
  padding: 160px;
}

.content h1 {
  font-size: 58px;
  font-weight: 900px;
  line-height: 80px;
}

.content h3 {
  font-size: 24px;
}

.content p {
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 900px) {
  .header-container {
    padding: 70px 0;
  }
  .header-container h1 {
    font-size: 44px;
  }

  .header-container h3 {
    font-size: 24px;
  }

  .header-container .about-section h2 {
    font-size: 18px;
  }

  .projects {
    padding: 0;
    text-align: center;
  }

  .projects h2 {
    font-size: 44px;
  }

  .about-section {
    padding: 70px 0;
  }

  .about-section h1 {
    font-size: 44px;
  }
}
