:root {
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Karla", sans-serif;
  --highlight-color: #f4978e;
  --secondary-color: #778da9;
  --background-color: #0d1b2a;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: bold;
}

.header-container {
  background-color: var(--background-color);
}

.header-content {
  text-align: center;
  padding: 100px 20px;
}

.header-container h3 {
  color: var(--secondary-color);
  font-family: var(--font-body);
  font-size: 36px;
  margin: 30px auto;
}

.header-container h1 {
  color: var(--highlight-color);
  font-size: 96px;
  line-height: 1;
  margin: 0;
}

.header-subheading {
  margin: 30px;
}

.header-container h2 {
  color: var(--secondary-color);
  font-family: var(--font-body);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}

.btn {
  color: #0d1b2a;
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
}

.btn-branding {
  background-color: var(--highlight-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
