:root {
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Karla", sans-serif;
  --highlight-color: rgb(244, 151, 142);
  --color-light: #778da9;
  --color-dark: #0d1b2a;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p {
  color: var(--color-dark);
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.header-container {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
  padding: 170px;
}

.header-container h3 {
  font-family: var(--font-body);
  font-size: 36px;
}

.header-container h1 {
  color: var(--highlight-color);
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
}

.header-container h2 {
  font-family: var(--font-body);
  font-size: 24px;
  line-height: 1;
}

.projects-container h3 {
  font-size: 36px;
  font-weight: 700;
}

.content-container {
  text-align: left;
  padding: 100px 0;
}

.content h1 {
  font-size: 58px;
  margin: 80px 0;
}

.content h2 {
  font-size: 44px;
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
}

.banner-dark {
  background-color: var(--color-dark);
  padding: 100px 0;
}

.content-dark h1 {
  color: var(--highlight-color);
  font-size: 64px;
  font-weight: 700;
}

.content-dark h2 {
  color: var(--color-light);
  font-size: 24px;
}
.content-dark p {
  color: var(--color-light);
}

.btn {
  color: #0d1b2a;
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
}

.btn.btn-branding {
  background-color: var(--color-dark);
  border-radius: 4px;
  color: var(--highlight-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  padding: 15px 30px;
  outline: 2px solid var(--highlight-color);
}

.btn.btn-branding:hover {
  background-color: var(--highlight-color);
  transition: all 0.3s ease-in-out;
}

.btn.btn-branding-outline {
  border-radius: 4px;
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
  outline: 2px solid var(--color-dark);
  padding: 15px 30px;
}

.btn.btn-branding-outline:hover {
  background-color: var(--highlight-color);
  color: var(--background-color);
  transition: all 0.3s ease-in-out;
}

.content a {
  color: var(--color-dark);
  text-decoration: none;
}

.content a:hover,
.content a:active {
  font-size: 21px;
}

.content a:visited {
  color: var(--highlight-color);
}

.nav-item {
  line-height: 25px;
  padding: 0 20px;
}

.navbar {
  font-family: var(--font-heading);
}

.navbar-brand {
  color: var(--highlight-color) !important;
  font-weight: 800;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--highlight-color) !important;
}

.nav-link {
  font-weight: 600 !important;
}

.navbar-toggler-icon {
  color: var(--highlight-color);
}

@media (max-width: 900px) {
  .header-container {
    padding: 120px 0;
  }
  .header-container h1 {
    font-size: 44px;
  }

  .header-container h3 {
    font-size: 24px;
  }

  .header-container h2 {
    font-size: 18px;
  }

  .projects-container h3 {
    font-size: 24px;
    text-align: center;
  }

  .content {
    padding: 0;
    text-align: center;
  }

  .content h2 {
    font-size: 36px;
  }

  .content-dark h1 {
    font-size: 44px;
  }
}

@media (max-width: 600px) {
  .content-container-dark {
    text-align: center;
  }
}
